
.search-input{
  width: 100%;
  padding: 18px 15px;
  padding-left: 60px;
  font-size: 19px;
  background-color: transparent;
  border: 1px solid #D3D3D3;
}
.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
}
.search-icon{
  width: 28px;
  height: 28px;
  padding: 5px;
  background-color: transparent;

}

.search-btn{
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 1%;
  border: none;
  background-color: #DDDDDD;
  border-radius: 50%;
  /* background-color: transparent; */
}