.vehicles-page{
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.vehicles-main .container-fluids{
  width: 100%;
  margin: 0 auto;
}
.vh-header{
  height: 13vh;
}
.vehicles-box{
  width: 100%;
  background-color: #F5F5F5;
  padding: 15px 25px;
}


.results-icon{
  width: 18px;
  height: 18px;
}
.results-link{
  border: none;
  background-color: white;
  
  border: 1px solid #e0e0e0;
  padding: 10px;
}
.results-top, .results-list, .results-span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.results-top{
  margin-top: 15px;
}
.results-title{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: normal;
  color: #060606;
}
.results-item{
  margin: 0px 10px;
 
}
.sort-span{
  color: #008AD1;
}

.vehicles-flex{
  display:flex;

}

@media(max-width:1440px){

  .vehicles-main .car-img{
    width: 230px;
  }
}
@media(max-width:1320px){
  
   .vehicles-main .car-img{
     width: 210px;
   }
 }
 @media(max-width:1220px){
  
   .vehicles-main .car-img{
     width: 180px;
   }
 }
 @media(max-width:1120px){
  .cars-box .car-list{
    width: 32%;
  }
   .vehicles-main .car-img{
     width: 230px;
   }
 }
 @media(max-width:1020px){
  
   .vehicles-main .car-img{
     width: 260px;
   }
   .sidebar{
     display: none;
   }
 }
 @media(max-width:920px){
 
  .vehicles-main .car-img{
    width: 230px;
  }
  
 }
 @media(max-width:820px){
  .vehicles-main .car-img{
    width: 200px;
  }
   
 }
 @media(max-width:720px){
  .vehicles-main .car-img{
    width: 230px;
  }
  .cars-box .car-list{
    width: 45%;
  }
 
 }
 @media(max-width:620px){
  
  .vehicles-main .car-img{
    width: 200px;
  }
 }
 @media(max-width:520px){
    .results-title{
      font-size: 20px;
    } 
    .cars-box .car-list{
      width: 90%;
    }
    .vehicles-main .car-img{
      width: 320px;
    }
 } @media(max-width:420px){
  .cars-box .car-list{
    width: 90%;
  }
  .vehicles-main .car-img{
    width: 95%;
  }
 
 }
