

.details-title{
  color: #008AC9;
  font-weight: bold;
  font-size: 20px;
}

 


.details{
  border-top: 1px solid rgb(211, 206, 206);
  padding: 15px 0;
  padding-top: 25px;
  margin-top: 25px;
}

.faq_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  list-style: none;
  padding: 0;
  margin: 0;

  background-color: #fff;
}
.faq_list__item{
  width: 100%;
  cursor: pointer;
  padding: 2px;
  padding-top: 00;
}
.faq_list__item .text_wrap{
  flex-grow: 2;
  background-color: #fff;
}

.faq_list__item__question_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-break: break-all;
  padding: 8px;

}

.faq_list__item .faq_header{
  font-weight: 500;
                font-size: 16px;
                margin: 0;

}

.faq_list__item .faq_header::before{
content: "";
width: 28px;
height: 22px;
background-repeat: no-repeat;
display: inline-block;
background-image: url("../../Assets/Img/timer.png");
/* padding: 1px; */
color: white;
background-color: white;
background-size: 19px;
/* padding-bottom: 2px; */
background-position: top 180% right 100%;
}
.faq_list__item .icon{
  transition: all 0.2s ease;

}

.faq_list__item .closer{
  transform: rotate(180deg);  

}
.faq_list__item__answer_wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  border-bottom: 1px solid #00000022;
}

.faq_list__item__answer_wrapper .faq_text{
  margin: 0px 20px 27px 20px;
                width: 55%;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #000000;
                opacity: 0.5;
}

.faq_list__item__answer_wrapper.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.down-icon{
  padding: 10px;
  width: 35px;
  height: 35px;
}