



.swiper-box{
  width: 870px;
  height: 650px;
  
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.basic{
  padding: 20px;
  border-top: 1px solid #f6f6f6;
}
.basic-title{
  color: #008AC9;
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
}

.basic-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
width: 100%;
}
.basic-item {
  padding: 5px 0;
  width: 45%;
  margin: 8px 15px;
}

.buy-monthly{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  border-top: 1px solid #dfdfdf;
}


.monthly-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.monthly-title{
  color: #060606;
  margin-bottom: 15px;
  font-size: 18px;
}
.monthly-input{
  color: #008AC9;
  font-size: 30px;
  text-align: center;
  padding: 5px 2px;
  width: 80px;
  height: 35px;
  background-color: #F1F2F2;
}
.monthly-item{
  text-align: center
  ;
  margin: 0 30px;
}

.monthly-item p{
  margin: 20px 0;
}

.monthly-border{
  background-color: #008AC9
  ;
  color: white;
  padding: 12px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  text-align: center;
}

.monthly-cost{
  font-size: 
  35px;

}

.monthly-subtext{
  text-align: center;
  width: 380px;
  margin-top: 20px;
  font-size: 18px;
}